


<h1> Sign Up Below! </h1>
<form class="" action="/users" method="post">
<label for="email"> Email: </label>
<input type="text" name="email" id="email" value="">
<label for="password"> Password: </label>
<input type="password" name="password" id="password" value"">
<input type="submit" name="" value="Submit!">
</form>

<a href="/">Back</a>

<br>

<img class= "signUpImage" alt="woman sitting in chair and reading" src ="https://thesleeplessreader.files.wordpress.com/2012/05/evening-at-home.jpg")
<br>
