<div class ="formContainer">
<h1 class="formtext">Create A New Post! </h1>
<form class="" action="/books" method="post">
<label for="">Title: </label>
<input type="text" name="title" value="">
<br>
<br>
<label for="">Author:</label>
<input type="text" name="author" value="">
<br>
<br>
<label for=""> Genre:</label>
<input type="text" name="genre" value="">
<br>
<br>
<lavel for="">Review:</label>
<input type="text" name="review" value="">
<br>
<br>
<label for=""> image URL: </label>
<input type="text" name="image_url" value="">
<br>
<br>
<input type="submit" name="" value="Submit!">
</form>
</div>



<img class= "createWomanReading" alt="woman reading newspaper at table" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRcIAiZfxwwOL9fAsz03kvmTgHEkdiG4IkbXQ&usqp=CAU")
<br>
