


<h1>Please log in </h1>
<form class="" action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="">
    <label for="password"> Password: </label>
    <input type="password" name="password" value="">
    <input type="submit" name="" value="Log In">
</form>
<br>
<br>

<img class="loginWomanReading" alt="woman reading" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROE17kjpo2SnXrynf-yBP2oEe2NY75T52w2w&usqp=CAU")
<br>
<br>
