<div class="container">
  <h1 class="welcomeText"> Welcome to GoodBooks </h1>
  <h4 class="welcomeText"> A place to catalogue and review your reading material and see what others have read! </h3>
  <br>
  
  <img class="welcomeImage" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/woman-reading-1910-barbour.jpg">
 <br>
 <br>
 
 
 <center> <a href="/login"> Log In </a> OR <a href="users/signup"> Sign Up</a>
</div>
